667a986f0b981_r2_data_with_samplefeatures.csv
667a986f0b981_r2_data_with_samplefeatures (1).csv
667a98661e233_submission_template_file1.csv
amex_campus_challenge_eval_script.py
Cheatsheet1.py
Cheatsheet 2 (2).ipynb
Evalutation_code_for_participants.py
Evalutation_code_for_participants.txt
primary_submission.csv
primary_submission_round2.csv
secondary_submission.csv
secondary_submission_round2.csv
submission_template_file1.csv
submission_template_file2.csv
._Cheatsheet 1.py
66507ad9eff7d_amex_campus_challenge_2024_modeling_problem_statement_vf_2.pdf
